<script type="text/javascript" src="/javascripts/frontend/prodotto.js">
</script>
<link rel="stylesheet" href="/stylesheets/dettagliprodotto.css">
<div class="contenitore-pagina">
    <!-- Contenitore delle immagini con i relativi tasti-->
    <div class="contenitore-immagini">
        <img class="mySlides immagine" src="/images/prodotti/<%= dati_prodotto.codice + '_1' %>" onerror="$(this).attr('src','/images/prodotti/nondisp.png');" style="display:table; margin: 0 auto;">
        <img class="mySlides immagine" src="/images/prodotti/<%= dati_prodotto.codice + '_2' %>" onerror="$(this).attr('src','/images/prodotti/nondisp.png');" style="display:none; margin: 0 auto;">
        <img class="mySlides immagine" src="/images/prodotti/<%= dati_prodotto.codice + '_3' %>" onerror="$(this).attr('src','/images/prodotti/nondisp.png');" style="display:none; margin: 0 auto;">
        <div class="divbutton">
            <button class="button preventOverlay" onclick="currentDiv(1)">1</button>
            <button class="button preventOverlay" onclick="currentDiv(2)">2</button>
            <button class="button preventOverlay" onclick="currentDiv(3)">3</button>
        </div>
    </div>
    <div class="contenitore-descrizione">
        <div class="nome">
            <%- dati_prodotto.nome %>
        </div>
        <div class="prezzo-acquista">
            <span style="height: 30px"> Prezzo: <%- dati_prodotto.prezzo %>€</span>
            <span><button class="button align" type="button" onclick="window.location = window.location.origin + '/carrello?add='+<%- dati_prodotto.codice %>;">Aggiungi al carrello!</button> </span>
        </div>
        <%- dati_prodotto.descrizione %>
    </div>
    <%
    var specifiche = JSON.parse(dati_prodotto.specifiche);
    if(Object.keys(specifiche).length > 0){
    %>
        <div class="contenitore-specifiche">
            <h1 class="h1">
                SPECIFICHE PRODOTTO
            </h1>
            <table class="tabella">
                <% Object.keys(specifiche).forEach(function(k) { %>
                    <tr>
                        <td>
                            <%- k %>
                        </td>
                        <td>
                            <%- specifiche[k] %>
                        </td>
                    </tr>
                    <% }); %>
            </table>
        </div>
        <% } %>
</div>