<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/frontend/template.js"></script>
<script type="text/javascript">
    var categorie = <%- JSON.stringify(categorie); %>;
    prepareLeftMenu(<%- menuattivo %>);

</script>

<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/font-icon/flaticon.css">
<link rel="stylesheet" href="/stylesheets/overlay.css" />

<!-- accesso in barra laterale destra -->
<div class="right-cell animate-right" id="rightMenu">
    <div style="margin-top: 10px;">
        <h4 class="login-message"> Inserisci i tuoi dati </h4>
        <form class="container padding-16" method="" action="">
            <p>
                <label for="email" required>Email:</label>
                <input class="input border-light" name="indirizzo email" type="email" id="email">
            </p>

            <p>
                <label for="password">Password:</label>
                <input class="input border-light" name="password" type="password" id="password">
            </p>

            <p>
                <input class="button border-light color-login login-button" name="login" type="submit" value="Login">
            </p>
        </form>
    </div>
</div>
<!-- fine barra laterale destra -->

<!-- menu centrale + logo + menu laterale sinistro delle categorie -->
<div id="barMenu">


    <h1 class="logo-sito" onclick="window.location= window.location.origin;">E-Commerce</h1>
    <button class="inner-bar-item right" onclick="window.location= window.location.origin + '/registrazione';">Registrati</button>
    <button class="inner-bar-item right" onclick="openRightMenu()">Accedi</button>
    <button class="inner-bar-item right" style="height: 32.8px" onclick="window.location= window.location.origin + '/profilo';">
                <span class="flaticon-gear icon-color" ></span>
                </button>

    <div id="menu_principale" class="bar" style="border-bottom: 1px solid #ddd; padding-left:45px; background-color: #f63">
        <% for(var i =0; i< menu.length; i++) { %>
            <button class="inner-bar-item menu-element <% (menu[i].codice == menuattivo) ? 'button-active' : '' %>" onclick="clickMenu(this);"
                data-codicemenu="<%= menu[i].codice %>"><%= menu[i].nome %></button>
            <% } %>
    </div>
    <div class="sidebar animate-left" id="mySidebar">
    </div>
</div>
<!--  FINE menu centrale + logo + menu laterale sinistro delle categorie -->
<!-- div dei contenuti -->
<div zclass="main" id="main" onclick="closeAllMenu()">
    <div class="teal">
        <!-- deve essere una classe a parte per non fare equivoci con le jquery -->
        <div class="conteriner-contents">
            <%- include(contenuto) %>
        </div>

        <div class="container teal div-footer">
            <p style="text-align: center;">Sito web fatto da : Luca Antonini, Claudio Milani e Marco Prontera</p>
        </div>
    </div>
</div>
<!-- fine div dei contenuti -->
<% include overlay %>