<link rel="stylesheet" href="/stylesheets/backend/categorie.css" />
<script type="text/javascript" src="/javascripts/backend/categorie.js"></script>
<%
var menuSelect = '';
for (var i = 0; i < categorie.men.length; i++) {
    menuSelect += '<option value="' + categorie.men[i].codice + '">' + categorie.men[i].nome + '</option>';
}
%>
    <div class="conteiner-categoria">
        <table>
            <tr>
                <td class="categorie-management">
                    <h2>GESTIONE CATEGORIE</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="ul-style">
                        <li class="li-style">
                            <span class="right">
                        <button autocomplete="off" id="add" type="button" disabled="disabled" class="button" >ADD</button>
                    </span>
                            <span class="span-newCategoria">
                        <input autocomplete="off" type="text" id="newCategoria" class="text-newCategoria" />
                    </span>
                            <span>
                        <select autocomplete="off" id="newMenuCode">
                            <option value="-1"></option>
                            <%- menuSelect %>
                        </select>
                    </span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul id="elenco_categorie" class="ul-style">
                        <% for (var i = 0; i < categorie.cat.length; i++) { %>
                            <li>
                                <input autocomplete="off" class="categoriaName" type="text" data-catcod="<%=categorie.cat[i].codice%>" data-mencod="<%=categorie.cat[i].codice_menu%>" value="<%=categorie.cat[i].nome%>" data-orgvalue="<%=categorie.cat[i].nome%>" />
                                <select autocomplete="off" class="cat_menu">
                                <option selected="selected" value="-1"></option>
                                <%-menuSelect.replace('value="' + categorie.cat[i].codice_menu, 'selected="selected" value="' + categorie.cat[i].codice_menu)%>
                            </select>
                                <button autocomplete="off" class="deleteCategoria button" type="button">X</button>
                            </li>
                            <% } %>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <button autocomplete="off" type="button" disabled="disabled" id="save" class="right button">Salva modifiche</button>
                </td>
            </tr>
        </table>
    </div>